<div class="auth center">
  <div class="row ">
    <div class="col-12">
      <ul class="nav nav-pills nav-fill " style="background-color: #fff;">
        <li class="tab col s6 nav-item"><a class="nav-link active" href="#login">Sign in</a></li>
        <li class="tab col s6 nav-item"><a class="nav-link" href="#register">Sign up</a></li>
      </ul>
    </div>
    <div id="login" class="auth-form col-12">

      {{#if loginError}}
      <p class="alert">{{loginError}}</p>
      {{/if}}

      <h4>Welcome to our platform</h4>
      <form action="/auth/login" method="POST">
        <div class="input-field">
          <input id="email" name="email" type="email" class="validate" required>
          <label for="email">Email</label>
          <span class="helper-text" data-error="Enter email"></span>
        </div>

        <div class="input-field">
          <input id="password" name="password" type="password" class="validate" required>
          <label for="password">Password</label>
          <span class="helper-text" data-error="Enter password"></span>
        </div>

        <input type="hidden" name="_csrf" value="{{csrf}}">

        <button class="btn btn-primary" type="submit">Login</button>
      </form>
    </div>
    <div id="register" class="auth-form col-12">

      {{#if registerError}}
      <p class="alert">{{registerError}}</p>
      {{/if}}

      <h4>Create an account</h4>
      <form action="/auth/register" method="POST">
        <div class="input-field">
          <input id="remail" name="email" type="email" class="validate" required>
          <label for="remail">Email</label>
          <span class="helper-text" data-error="Enter email"></span>
        </div>

        <div class="input-field">
          <input id="password" name="password" type="password" class="validate" required>
          <label for="password">Password</label>
          <span class="helper-text" data-error="Enter password"></span>
        </div>

        <div class="input-field">
          <input id="name" name="name" type="text" class="validate" required>
          <label for="name">Name</label>
          <span class="helper-text" data-error="Enter name"></span>
        </div>

        <div class="input-field">
          <input id="surname" name="surname" type="text" class="validate" required>
          <label for="surname">Surname</label>
          <span class="helper-text" data-error="Enter surname"></span>
        </div>

        <input type="hidden" name="_csrf" value="{{csrf}}">

        <button class="btn btn-primary" type="submit">Register</button>
      </form>
    </div>
  </div>
</div>