<div class="main-page center">
    <h4>Welcome to our portal</h4>
    <h6>This is a platform where students, teachers, professionals or anyone can share their experiences and skills by
        writing a blog. You can read blogs <a href="/blogs"> here </a></h6>


    <p>Author</p>

    <div class="main-card">
        <img src="/assets/kompgame.jpg" alt="John" style="width:100%">
        <h5>Kubanych Asanov</h5>
        <p class="main-title">Flutter & Software developer</p>
        <p>Ala-Too University</p>
        <ul class="social-icons">
            <li>
                <a class="icon" href="https://www.instagram.com/01asanov__/" target="_blank"><i class="fa fa-instagram"
                        aria-hidden="true"></i></a>
            </li>
            <li>
                <a class="icon" href="https://www.youtube.com/channel/UCneGkwC2dxnOc10q1Zlc0GQ" target="_blank"><i
                        class="fa fa-youtube" aria-hidden="true"></i></a>
            </li>
            <li>
                <a class="icon" href="https://t.me/AsanovK" target="_blank"><i class="fab fa-telegram-plane"
                        aria-hidden="true"></i></a>
            </li>
            <li>
                <a class="icon" href="https://www.linkedin.com/in/kubanych-asanov-07394b1b4/" target="_blank"><i
                        class="fab fa-linkedin"></i></a>
            </li>
        </ul>
    </div>

</div>