<div class="main-page center">
    <h4>Welcome to our portal</h4>
    <h6>This is a platform where students, teachers, professionals or anyone can share their experiences and skills by
        writing a blog. You can read blogs <a href="/blogs"> here </a></h6>
    <p>Author</p>
    <div class="LI-profile-badge linkedIn-logo" data-version="v1" data-size="medium" data-locale="ru_RU"
        data-type="vertical" data-theme="dark" data-vanity="kubanych-asanov"><a class="LI-simple-link"
            href='https://kg.linkedin.com/in/kubanych-asanov?trk=profile-badge'>Kubanych Asanov</a></div>
</div>